[submodule "Assets/Source/Purple/Core"]
	path = Assets/Source/Purple/Core
	url = https://github.com/benwager/UnityPureMVC-Core
[submodule "Assets/Source/Purple/Modules/DataLoader"]
	path = Assets/Source/Purple/Modules/DataLoader
	url = https://github.com/benwager/UnityPureMVC-Modules-DataLoader
